@font-face {
    font-family: Cera-Pro-Medium;
    src: url(../fonts/CeraPro-Medium.ttf);
}
@font-face {
    font-family: Cera-Pro-Regular;
    src: url(../fonts/CeraPro-Regular.ttf);
}
body{
    margin: 0 auto;
    background: linear-gradient(100deg, rgb(99, 18, 45),  rgb(35, 52, 178));
    background-size: 200%;
    /* animation: gradient 5s ease infinite; */
    font-family: Cera-Pro-Regular;
    color: white;
    font-size: 18px;
}
textarea{
    resize: none;
    font-family: Cera-Pro-Regular;
    font-size: 17px;
}

option, select{
    font-family: Cera-Pro-Regular;
    font-size: 17px;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main{
    min-height: 80vh;
    margin-top: 45px;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
footer{
    height: 150px;
    border-top: 2px solid white;
    margin-top: 50px;
}
.btn__default{
    font-family: Cera-Pro-Regular;
    border: none;
    background: rgb(231, 67, 98);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 12px 32px;
    font-size: 18px;
    transition: all 0.4s;
}
.btn__default:hover{
    border-radius: 50px;
}
.btn__bordered{
    font-family: Cera-Pro-Regular;
    border: 2px solid rgb(231, 67, 98);
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 10px 32px;
    font-size: 18px;
    transition: all 0.4s;
}
.btn__bordered:hover{
    border-radius: 50px;
    background: rgb(231, 67, 98);
}
.btn__bordered__light{
    font-family: Cera-Pro-Regular;
    border: 2px solid rgb(231, 67, 98);
    background: none;
    color: rgb(231, 67, 98);
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 10px 32px;
    font-size: 18px;
    transition: all 0.4s;
}
.btn__bordered__light:hover{
    color: white;
    border-radius: 50px;
    background: rgb(231, 67, 98);
}
.form__default{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
}
.two__form__blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
.form__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.input__default{
    padding: 10px 12px;
    font-size: 17px;
    outline: none;
    width: 350px;
    border-radius: 7px;
    border: none;
}
.greet__vector{
    position: absolute;
    width: 50%;
    z-index: 2;
    right: -30px;
}
.app__body{
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
}
.greet__page{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 100px;
}
.greeting{
    margin-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.greet__title{
    margin-top: 30px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
}
.signup__cards__page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.signup__cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}
.signup__card{
    height: 50vh;
    min-width: 300px;
    width: 25%;
    border-radius: 7px;
    border: 2px solid #e74361; 
    position: relative;
    overflow: hidden;
    color: white;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.signup__card__fillcolor{
    z-index: 1;
    position: absolute;
    width: 900px;
    height: 900px;
    background: rgb(231, 67, 97);
    border-radius: 100%;
    bottom: -900px;
    left: 0px;
    transition: all 0.5s;
}
.signup__card__content{
    position: absolute;
    z-index: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}
.signup__card:hover{
    border-radius: 20px;
}
.sign__card__icon path{
    transition: all 0.5s;
}
.signup__card:hover .sign__card__icon path{
    stroke: white;
}
.signup__card:hover .signup__card__fillcolor{
    bottom: -200px;
    left: -100px;
}
.areas__page{
    background: white;
    width: 100%;
    min-height: 100vh;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 100px;
}
.areas__page__header{
    width: 100%;
    height: 200px;
    /* background: rgb(255, 127, 127); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.areas__page__main{
    margin-top: 30px;
    width: 100%;
    /* background: rgb(255, 204, 123); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.area__card{
    width: 43vh;
    height: 450px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    transition: all 0.2s;
}
.area__card:hover{
    background: #f2f2f2;
}
.area__card__content{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.area__card__price{
    font-family: Cera-Pro-Medium;
    color: #fc385c;
    font-size: 20px;
}
.area__card__title{
    font-size: 19px;
    font-family: Cera-Pro-Medium;
}
.area__card__space{
    color: gray;
}
.select__container{
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: .05em solid gray;
    display: flex;
    align-items: center;
}
.area__card__img img{
    width: 100%;
    height: 300px;
    border-radius: 7px;
    object-fit:cover;
}
.area{
    width: 95%;
    height: 95%;
    color: black;
    /* background: #e74361; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile__page{
    width: 100%;
    min-height: 75vh;
    background: rgb(252, 252, 252);
    border-radius: 15px;
    display: flex;
    color: black;
}
.profile__list{
    padding: 12px 12px;
    width: 20%;
    height: 500px;
}
.profile__content{
    padding: 12px 12px;
    width: 80%;
    height: 500px;
}
.profile__list__items a{
    padding: 12px 30px;
    color: #e74361;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    font-size: 20px;
    margin-bottom: 10px;
    transition: all 0.2s;
    border-right: 3px solid rgb(252, 252, 252);
}
.profile__list__items a:hover{
    border-color: #e74361;
}
.account__info{
    background: rgb(252, 252, 252);
    /* box-shadow: 0px 0px 10px #e743611e; */
    width: 90%;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.accoint__info__head{
    padding-left: 20px;
    width: 100%;
    height: 110px;
    border-bottom: #e743611e solid 1px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}
.accont__info__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.account__info__main{
    padding: 10px 20px;
}
.account__info__avatar{
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: red;
    cursor: pointer;
}
.account__info__btns{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.input__default__light{
    padding: 10px 12px;
    font-size: 20px;
    outline: none;
    border-radius: 7px;
    border: none;
    background: #f2f2f2;
    position: relative;
}

.avatar__edit{
    width: 35vh;
    height: 35vh;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 30px;
}
.avatar__edit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar__editor__window{
    width:45vh;
    height: 50vh;
    background: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
}
.account__info__avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Анимации */
@keyframes gradient {
    0%{
        background-position: 0 10%;
    }
    50%{
        background-position: 30% 80%;
    }
    100%{
        background-position: 0 60%;
    }
}